// Load Semplicita
@font-face {
    font-family: Semplicita;
    src: url($Semplicita-Medium) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Semplicita;
    src: url($Semplicita-MediumItalic) format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Semplicita;
    src: url($Semplicita-Bold) format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Semplicita;
    src: url($Semplicita-BoldItalic) format('woff2');
    font-weight: bold;
    font-style: italic;
}

:root {
    --font-family: #{$body-font-family};
    --heading-font-family: #{$heading-font-family};
    --primary-rgb: #{hexToRGB($primary)};
    --secondary-rgb: #{hexToRGB($secondary)};
    --tertiary-rgb: #{hexToRGB($tertiary)};
    --quaternary-rgb: #{hexToRGB($quaternary)};
}


.topic-list .main-link.focused {
    box-shadow: inset 3px 0 0 var(--quaternary);
}

// NAVIGATION
.nav-pills,
.navigation-container {
    font-family: var(--heading-font-family);
}

.nav-pills>li>a,
.select-kit .select-kit-header {
    text-transform: uppercase;
}

#topic-title {
    background: var(--tertiary);
    padding: 1em;

    h1 a {
        color: var(--secondary);
    }
}

.badge-wrapper.bullet span.badge-category {
    color: var(--quaternary);
}

.timeline-container .topic-timeline {
    .timeline-handle {
        background-color: var(--tertiary-medium);
    }

    .timeline-scrollarea {
        border-left-color: var(--tertiary-medium);
    }
}

// CUSTOM MARKDOWN
div.markdown-block {
    background-color: #EBEBEB;
    border: 1px solid #B4B4B4;
    padding: 8px;
}

div.markdown-bill {
    padding: 8px;
}

span.markdown-bill-add {
    color: #2ECC71;
}

span.markdown-bill-remove {
    color: #E74C3C;
    text-decoration: line-through;
}

// ALERT STYLING
.alert.alert-global-notice {
    margin-bottom: 2em;
}

// USER PAGE
.user-main {
    .about.collapsed-info .details {
        background: transparent;
    }

    .about .details {
        background: transparent;
    }
}

.user-content {
    background: transparent;
}

// POSTS
.topic-category .badge-wrapper {
    background: rgba($secondary, 0.8);
    border-radius: 4px;
    padding: 2px 4px;
}

// TABLES
table th {
    color: var(--primary-very-hgih);
}

// EDITOR
.d-editor-input {
    font-family: #{$editor-font-family};
}

// BUTTONS
.btn-flat .d-icon {
    color: var(--primary-high);
}

// TOPIC LIST
.topic-list-icons {
    .d-icon-thumbtack {
        color: var(--quaternary);
    }

    .d-icon-thumbtack.unpinned {
        color: var(--quaternary);
    }

    .d-icon-bookmark {
        color: var(--quaternary);
    }
}

.topic-list {
    @extend .topic-list-icons;
}

.topic-statuses {
    .topic-status {
        color: $quaternary;
    }

    .topic-status-warning .d-icon-envelope {
        color: $danger;
    }
}

// .topic-list-body {
//     background: $secondary;
// }

.category-list {
    tbody {
        background: $secondary;
    }

    thead tr th {
        color: $primary;
    }
}